@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

p,
h3,
h4 {
  margin: 0;
}

hr {
  width: 100%;
}

body {
  background-color: #457b9d;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
