#preview-page {
  width: 800px;
  height: 700px;
  display: flex;
  flex-direction: column;

  border: 5px;
  border-style: solid;
  border-radius: 5px;
  background-color: #a8dadc;
  padding: 50px;
}

#book-preview-title {
  font-size: 20px;
}

#book-preview-top img {
  width: 400px;
  max-height: 500px;
}

#book-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#book-preview-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

#book-preview-bot {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book-details {
  width: 300px;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #f1faee;
}

#book-preview-title {
  max-height: 50px;
  margin-bottom: 30px;
}

#book-preview-img {
  width: 500px;
}
